/* 1. Import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* 2. Add Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;